{% load static %}

{% block leave-reply %}
    <section class="section-reply">
        <h4 class="article-text">Оставить комментарий</h4>
        <form method="post" class="article-form" data-path="{% url 'comment' article_id %}">
            {% csrf_token %}
            <input type="hidden" id="form-article-reply-comment" name="form-article-reply-comment" value="">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" placeholder="Ваше имя" name="form-article-reply-name" value="{{ reply_name }}" required>
                </div>
                <div class="col-md-6">
                    <input type="text" placeholder="Ваш e-mail" name="form-article-reply-email" value="{{ reply_email }}" required>
                </div>
                <div class="col-md-12">
                    <textarea placeholder="Сообщение" name="form-news-reply-message" required></textarea>
                    <button class="site-btn">Отправить</button>
                </div>
            </div>
        </form>
    </section>
{% endblock leave-reply %}