{% load staticfiles %}

{% block leave-reply %}
    <section id="leave-reply" class="py-5">
        <header id="leave-reply-header-text"><h3 class="no-border">Оставить комментарий</h3></header>
        <form id="form-news-reply" method="post" class="clearfix ts-form ts-form-comment" data-path="comment/">
            {% csrf_token %}
            <input type="hidden" id="form-news-reply-comment" name="form-news-reply-comment" value="">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form-news-reply-name">Ваше имя<em>*</em></label>
                        <input type="text" class="form-reply form-control" id="form-news-reply-name" name="form-news-reply-name" value="{{ reply_name }}" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form-news-reply-email">Ваш e-mail<em>*</em></label>
                        <input type="email" class="form-reply form-control" id="form-news-reply-email" name="form-news-reply-email" value="{{ reply_email }}" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="form-news-reply-message">Ваше сообщение<em>*</em></label>
                        <textarea class="form-reply form-control" id="form-news-reply-message" rows="5" name="form-news-reply-message" required></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group clearfix">
                <button type="submit" class="btn btn-primary" id="form-news-reply-submit">Отправить</button>
                <button type="reset" class="btn btn-outline-primary" id="form-news-cancel-reply-to">Отмена</button>
            </div>
            <div id="form-rating-status">

            </div>
        </form>
    </section>
{% endblock leave-reply %}