{% block sidebar %}
    <section id="sidebar" class="sidebar">

        <aside id="search">
            <header><h3>Найти</h3></header>
            <div class="input-group">
                <input type="text" class="form-control framed" placeholder="Ключевые слова">
                <span class="input-group-btn"><button class="btn btn-primary btn-sm" type="button"><i class="fa fa-search"></i></button></span>
            </div>
        </aside>

        <aside id="post-archive">
            <header><h3>Архив новостей</h3></header>
            <ul class="list-links list-unstyled">
                <li><a href="#">Март 2019</a></li>
                <li><a href="#">Февраль 2019</a></li>
                <li><a href="#">Январь 2019</a></li>
                <li><a href="#">Декабрь 2018</a></li>
                <li><a href="#">Ноябрь 2018</a></li>
                <li><a href="#">Октябрь 2018</a></li>
                <li><a href="#">Сентябрь 2018</a></li>
                <li><a href="#">Август 2018</a></li>
            </ul>
        </aside>

    </section>
{% endblock sidebar %}