{% extends 'index.html' %}

{% load static %}

{% block header %}
{% endblock %}

{% block content %}
    {% block top %}
    {% endblock %}
    <div class="split left">
        <div class="centered">
            <h4>Сеанс пользователя завершен!</h4>
            <div class="auth-text">
                <p><a href="{% url 'login'%}">Нажмите тут чтобы авторизоватся</a></p>
            </div>
        </div>
    </div>
    <div class="split right auth-text set-bg" data-setbg="{% static 'img/login-bg.jpg' %}">
    </div>
    <{% endblock %}

{% block footertop %}
{% endblock %}

{% block footer %}
{% endblock %}