{% extends 'index.html' %}

{% load static %}

{% block header %}
{% endblock %}

{% block content %}
    {% block top %}
    {% endblock %}

    <div class="split left">
        <div class="centered">
            {% if not user.is_authenticated %}
                <h2>Авторизация</h2>
                <form class="auth-form" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    <div>
                        <input {% if form.errors %}class="auth-error"{% endif %}
                               type="text" placeholder="e-mail" name="username">
                    </div>
                    <div>
                        <input {% if form.errors %}class="auth-error"{% endif %}
                               type="password" placeholder="пароль" name="password">
                    </div>
                    <div class="auth-text">
                        <p><a href="{% url 'password_reset' %}">Я забыл пароль</a></p>
                    </div>
                    <div>
                        <button class="site-btn">Войти</button>
                    </div>
                    <div class="auth-text">
                        <p><a href="{% url 'register' %}">Зарегистрироваться</a></p>
                    </div>
                </form>
                {% if form.errors %}
                    <p class="auth-error">Пользователь не найден!</p>
                {% endif %}
            {% else %}
                <div class="auth-text">
                    <p><h4>Привет {{ user.email }}!</h4></p>
                </div>
                <div>
                    <img src="{% static user.photo %}" alt="avatar">
                </div>
                <div class="auth-text">
                    <p><a href="{% url 'logout' %}">Выйти</a></p>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="split right auth-text set-bg" data-setbg="{% static 'img/login-bg.jpg' %}">
    </div>
    <{% endblock %}

{% block footertop %}
{% endblock %}

{% block footer %}
{% endblock %}
