{%  load static %}

{% block about %}
    <section class="about-section spad pt-0">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 about-text">
					<h3>Why choose our company?</h3>
					<p>Nullam lacinia ex eleifend orci porttitor, suscipit interdum augue condimentum. Etiam pretium turpis eget nibh laoreet iaculis. Vivamus auctor mi eget odio feugiat, quis aliquet velit ornare. Integer egestas sit amet neque sed elementum. Fusce ut turpis felis. Etiam pretium pharetra augue, ac porttitor dolor consequat eget. Cras tempor suscipit enim vehicula ultrices. Mauris sed orci blandit, rhoncus massa non, tincidunt odio. Ut ullamcorper lobortis hendrerit. </p>
					<a href="#" class="site-btn">Read More</a>
				</div>
				<div class="col-lg-6">
					<img src="{% static 'img/about.jpg' %}" alt="">
				</div>
			</div>
		</div>
	</section>
{% endblock %}