{% load static %}
{% block banner %}
    <section class="banner-section set-bg" data-setbg="{% static 'img/banner-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 banner-text text-white">
                    <h3>Dedicated hosting solutions only $129.99/month</h3>
                    <p>Proin gravida nibh vel velit auctor aliquet, aenean sollicitudin lorem quis bibendum auctor, nisi elit consequat ipsum</p>
                </div>
                <div class="col-lg-3 text-left text-lg-right">
                    <a href="" class="site-btn">Get Started</a>
                </div>
            </div>
        </div>
    </section>
{% endblock banner %}