{% load static %}

{% block clients %}
    <div class="clients-seciton">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-6">
					<img src="{% static 'img/client-logo.png' %}" alt="">
				</div>
				<div class="col-md-3 col-6">
					<img src="{% static 'img/client-logo.png' %}" alt="">
				</div>
				<div class="col-md-3 col-6">
					<img src="{% static 'img/client-logo.png' %}" alt="">
				</div>
				<div class="col-md-3 col-6">
					<img src="{% static 'img/client-logo.png' %}" alt="">
				</div>
			</div>
		</div>
	</div>
{%  endblock %}