{% load static %}
{% block domain %}
    <section class="domain-search-section spad set-bg" data-setbg="{% static 'img/domain-bg.jpg' %}">
        <div class="container">
            <div class="section-title st-white">
                <img src="{% static 'img/section-title-icon.png' %}" alt="#">
                <p>The best out there</p>
                <h2>See our features</h2>
            </div>
            <div class="domain-form-warp">
                <form class="domain-search-form">
                    <input type="text" placeholder="Enter your website’s name">
                    <button class="site-btn">Search</button>
                </form>
                <p>Nullam lacinia ex eleifend orci porttitor, suscipit interdum augue condimentum. Etiam pretium turpis eget nibh laoreet iaculis</p>
            </div>
        </div>
    </section>
{% endblock domain %}