{% load static %}
{% block features %}
    <section class="features-section spad">
        <div class="container">
            <div class="section-title">
                <img src="{% static 'img/section-title-icon.png' %}" alt="#">
                <p>{{ website.slogan }}</p>
                <h2>Наши преимущества</h2>
            </div>
            <div class="row">

                <div class="col-lg-4 col-md-6 feature-item">
                    <div class="ft-icon">
                        <i class="flaticon-domain-registration"></i>
                    </div>
                    <h4>Подберём домен</h4>
                    <p>Хорошее доменное имя это половина успеха вашего веб проекта</p>
                </div>

                <div class="col-lg-4 col-md-6 feature-item fi-center-top">
                    <div class="ft-icon">
                        <i class="flaticon-server"></i>
                    </div>
                    <h4>Наполненим БД</h4>
                    <p>Поможем с первоначальным наполнением базы данных, для вашего легкого старта в сети. </p>
                </div>

                <div class="col-lg-4 col-md-6 feature-item">
                    <div class="ft-icon">
                        <i class="flaticon-devices"></i>
                    </div>
                    <h4>Адаптация</h4>
                    <p>Наши сайты будут удобны в использовании с разных устройств, с разным разрешением и размером экрана. </p>
                </div>

                <div class="col-lg-4 col-md-6 feature-item">
                    <div class="ft-icon">
                        <i class="flaticon-customer"></i>
                    </div>
                    <h4>Поддержка</h4>
                    <p>Мы поможем вам подружиться с новым сайтом. Всегда все вовремя наладим, починим или исправим а также научим.</p>
                </div>

                <div class="col-lg-4 col-md-6 feature-item">
                    <div class="ft-icon">
                        <i class="flaticon-folder"></i>
                    </div>
                    <h4>Размещение</h4>
                    <p>Мы обо всем позаботимся. Ваш веб проект может быть размещен на наших надежных и быстрых серверах. </p>
                </div>
                <div class="col-lg-4 col-md-6 feature-item">
                    <div class="ft-icon">
                        <i class="flaticon-viral-marketing"></i>
                    </div>
                    <h4>Продвижение</h4>
                    <p>Поможем в продвижении вашего сайта в поисковых системах. </p>
                </div>
            </div>
        </div>
    </section>
{% endblock features %}