{% load static %}
{% block hero %}
    <section class="hero-section set-bg" data-setbg="{% static 'img/bg.jpg' %}">
        <div class="container h-100">
            <div class="hero-content text-white">
                <div class="row">
                    <div class="col-lg-6 pr-0">
                        <h2>Разработка IT проектов</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. </p>
                        <a href="#" class="site-btn">Цены</a>
                    </div>
                </div>
                <div class="hero-rocket">
                    <img src="{% static 'img/rocket.png' %}" alt="">
                </div>
            </div>
        </div>
    </section>
{% endblock hero %}