{% load static %}

{% block milestones %}
    <section class="milestones-section set-bg" data-setbg="{% static 'img/milestones-bg.jpg' %}">
		<div class="container">
			<div class="row milestones-top-text">
				<div class="col-lg-8">
					<p>Nullam lacinia ex eleifend orci porttitor, suscipit interdum augue condimentum. Etiam pretium turpis eget nibh laoreet iaculis. Vivamus auctor mi eget odio feugiat, quis aliquet velit ornare. Integer egestas sit amet neque sed elementum. </p>
				</div>
				<div class="col-lg-4 text-center ">
					<a href="" class="site-btn mt-4">Read More</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="milestone-item text-white">
						<i class="flaticon-shared-folder"></i>
						<h2>24k</h2>
						<p>Clients</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="milestone-item text-white">
						<i class="flaticon-social-media"></i>
						<h2>37k</h2>
						<p>Followers</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="milestone-item text-white">
						<i class="flaticon-cloud-computing"></i>
						<h2>8k</h2>
						<p>Cloud users</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="milestone-item text-white">
						<i class="flaticon-customer"></i>
						<h2>4k</h2>
						<p>Reviews</p>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}