{% load static %}
{% block pricing %}
    <section class="pricing-section spad pt-0">
        <div class="container">
            <div class="section-title">
                <img src="{% static 'img/section-title-icon.png' %}" alt="#">
                <p>Будущее уже рядом</p>
                <h2>Наше предложение</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-8 offset-md-2 offset-lg-0">
                    <div class="pricing-plan">
                        <div class="pricing-title">
                            <h4>Сайт-визитка</h4>
                        </div>
                        <div class="pricing-body">
                            <h2><span>от</span>1500<span>₽</span></h2>
                            <ul>
                                <li>1GB storage</li>
                                <li>3GB bandwidth</li>
                                <li>Free Email Addresses</li>
                                <li>24/7 security monitoring</li>
                                <li>24/7 technical support</li>
                            </ul>
                            <a href="" class="site-btn">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 offset-md-2 offset-lg-0">
                    <div class="pricing-plan gold-plan">
                        <div class="pricing-title">
                            <h4>STAR Plan</h4>
                        </div>
                        <div class="pricing-body">
                            <h2>$9<span>/Month</span></h2>
                            <ul>
                                <li>1GB storage</li>
                                <li>3GB bandwidth</li>
                                <li>Free Email Addresses</li>
                                <li>24/7 security monitoring</li>
                                <li>24/7 technical support</li>
                            </ul>
                            <a href="" class="site-btn">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 offset-md-2 offset-lg-0">
                    <div class="pricing-plan">
                        <div class="pricing-title">
                            <h4>VIP Plan</h4>
                        </div>
                        <div class="pricing-body">
                            <h2>$9<span>/Month</span></h2>
                            <ul>
                                <li>1GB storage</li>
                                <li>3GB bandwidth</li>
                                <li>Free Email Addresses</li>
                                <li>24/7 security monitoring</li>
                                <li>24/7 technical support</li>
                            </ul>
                            <a href="" class="site-btn">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock pricing %}