{% load static %}
{% block pricing %}
    <section class="pricing-section spad pt-0" id="pricing">
        <div class="container">
            <div class="section-title">
                <img src="{% static 'img/section-title-icon.png' %}" alt="#">
                <p>Старт в будущее</p>
                <h2>Наше предложение</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-8 offset-md-2 offset-lg-0">
                    <div class="pricing-plan">
                        <div class="pricing-title">
                            <h4>Сайт-визитка</h4>
                        </div>
                        <div class="pricing-body">
                            <h2><span>от</span> 1500<span>₽</span></h2>
                            <ul>
                                <li>Домен в подарок</li>
                                <li>до 5 страниц</li>
                                <li>Продвижение бренда в поисковых системах</li>
                                <li>Добавление информации о сайте на Яндекс Карты</li>
                                <li>Без предоплаты</li>
                                <li>Поддержка только в период разработки</li>
                            </ul>
                            <a href="" class="site-btn">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 offset-md-2 offset-lg-0">
                    <div class="pricing-plan gold-plan">
                        <div class="pricing-title">
                            <h4>Бизнес-сайт</h4>
                        </div>
                        <div class="pricing-body">
                            <h2><span>от</span> 3500<span>₽</span></h2>
                            <ul>
                                <li>Домен в подарок</li>
                                <li>Наполнение сайта вашими материалами</li>
                                <li>Консультирование</li>
                                <li>Предоплата 500 рублей</li>
                                <li>Техническая поддержка</li>
                            </ul>
                            <a href="" class="site-btn">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 offset-md-2 offset-lg-0">
                    <div class="pricing-plan">
                        <div class="pricing-title">
                            <h4>Интернет-магазин</h4>
                        </div>
                        <div class="pricing-body">
                            <h2><span>от</span> 5000<span>₽</span></h2>
                            <ul>
                                <li>Домен в подарок</li>
                                <li>Наполнение товарами - 5 шт. на категорию</li>
                                <li>Приём оплаты в один клик (для ИП и Юр.лиц)</li>
                                <li>Предоплата 1000 рублей</li>
                                <li>24/7 Техническая поддержка</li>
                            </ul>
                            <a href="" class="site-btn">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock pricing %}