{% load static %}

{% block leave-reply %}
    <section class="section-reply">
        <h4 class="comment-text">Оставить комментарий</h4>
        <form class="comment-form" method="post"  data-path="{% url 'comment' article_id %}">
            {% csrf_token %}
            <input type="hidden" class="reply-comment" name="form-article-reply-comment" value="">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" placeholder="Ваше имя" name="form-article-reply-name" value="{{ reply_name }}" required>
                </div>
                <div class="col-md-6">
                    <input type="text" placeholder="Ваш e-mail" name="form-article-reply-email" value="{{ reply_email }}" required>
                </div>
                <div class="col-md-12">
                    <textarea placeholder="Сообщение" name="form-article-reply-message" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="site-btn submit-reply">Отправить</button>
                <button type="reset" class="site-btn sb-line btn-other cancel-reply">Отмена</button>
            </div>
        </form>
    </section>
{% endblock leave-reply %}