{% load static %}

{% block service %}
    <section class="service-box-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 col-md-6 p-0 service-box">
					<div class="service-box-text text-white">
						<h4>Наша миссия</h4>
						<p>Nullam lacinia ex eleifend orci porttitor, suscipit interdum augue condimentum. Etiam pretium turpis eget nibh laoreet iaculis. Vivamus auctor mi eget odio feugiat, quis aliquet velit ornare. Inte-ger egestas sit amet neque sed elementum. Fusce ut turpis felis. Etiam pretium pharetra augue, ac porttitor dolor consequat eget. Cras tempor suscipit enim vehicula ultrices. Mauris sed orci blan-dit, rhoncus massa non, tincidunt odio. </p>
						<a href="#" class="site-btn">Read More</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 p-0 service-box">
					<div class="service-box-text text-white">
						<h4>Наши взгляды</h4>
						<p>Lacinia ex eleifend orci porttitor, suscipit interdum augue cond-imentum. Etiam pretium turpis eget nibh laoreet iaculis. Vivamus auctor mi eget odio feugiat, quis aliquet velit ornare. Integer eges-tas sit amet neque sed elementum. Fusce ut turpis felis. Etiam pretium pharetra augue, ac porttitor dolor consequat eget. Cras tempor suscipit enim vehicula ultrices. Mauris sed orci blandit, rhoncus massa non.</p>
						<a href="#" class="site-btn">Read More</a>
					</div>
				</div>
				<div class="col-lg-4 p-0 service-box">
					<div class="service-box-image text-white">
						<img src="{% static 'img/service.png' %}" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}