{% load static %}
{% block skills %}
    <section class="skills-and-testimonials-section spad">
        <div class="container">
            <div class="row">
                <!-- Skills -->
                <div class="col-lg-6">
                    <div class="single-progress-item">
                        <p>Illustrator</p>
                        <div class="progress-bar-style" data-progress="80"  data-bgcolor="#eb2b63"></div>
                    </div>
                    <div class="single-progress-item">
                        <p>Photoshop</p>
                        <div class="progress-bar-style" data-progress="90"  data-bgcolor="#eb2bae"></div>
                    </div>
                    <div class="single-progress-item">
                        <p>SEO</p>
                        <div class="progress-bar-style" data-progress="80"  data-bgcolor="#d22beb"></div>
                    </div>
                    <div class="single-progress-item">
                        <p>E-commerce</p>
                        <div class="progress-bar-style" data-progress="60"  data-bgcolor="#972beb"></div>
                    </div>
                    <div class="single-progress-item">
                        <p>HTML</p>
                        <div class="progress-bar-style" data-progress="70"  data-bgcolor="#732beb"></div>
                    </div>
                </div>
                <!-- Testimonials -->
                <div class="col-lg-6">
                    <div class="testimonials-slider owl-carousel">
                        <div class="testimonial-item">
                            <div class="ti-content">
                                <p>Nullam lacinia ex eleifend orci porttitor, suscipit interdum augue condimentum. Etiam pretium turpis eget nibh laoreet iacu-lis.Nullam lacinia ex eleifend orci porttitor, suscipit interdum augue condimentum. iaculis.</p>
                            </div>
                            <div class="ti-author-pic set-bg" data-setbg="{% static 'img/review/1.jpg' %}"></div>
                            <div class="ti-author">
                                <h6>Michael Smith</h6>
                                <span>Client</span>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="ti-content">
                                <p>Nullam lacinia ex eleifend orci porttitor, suscipit interdum augue condimentum. Etiam pretium turpis eget nibh laoreet iacu-lis.Nullam lacinia ex eleifend orci porttitor, suscipit interdum augue condimentum. iaculis.</p>
                            </div>
                            <div class="ti-author-pic set-bg" data-setbg="{% static 'img/review/1.jpg' %}"></div>
                            <div class="ti-author">
                                <h6>Michael Smith</h6>
                                <span>Client</span>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="ti-content">
                                <p>Nullam lacinia ex eleifend orci porttitor, suscipit interdum augue condimentum. Etiam pretium turpis eget nibh laoreet iacu-lis.Nullam lacinia ex eleifend orci porttitor, suscipit interdum augue condimentum. iaculis.</p>
                            </div>
                            <div class="ti-author-pic set-bg" data-setbg="{% static 'img/review/1.jpg' %}"></div>
                            <div class="ti-author">
                                <h6>Michael Smith</h6>
                                <span>Client</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%  endblock skills %}