{% load static %}

{% block team %}
    <section class="team-section spad">
		<div class="container">
			<div class="section-title">
				<img src="{% static 'img/section-title-icon.png' %}" alt="#">
				<p>The best out there</p>
				<h2>Meet the team</h2>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="team-member">
						<img src="{% static 'img/team/1.jpg' %}" alt="#">
						<h4>Daniel Smith</h4>
						<p>Team manager</p>
						<div class="tm-social social">
							<a href="#"><i class="fa fa-pinterest"></i></a>
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="team-member">
						<img src="{% static 'img/team/2.jpg' %}" alt="#">
						<h4>Michael Joe</h4>
						<p>Developer</p>
						<div class="tm-social social">
							<a href="#"><i class="fa fa-pinterest"></i></a>
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="team-member">
						<img src="{% static 'img/team/3.jpg' %}" alt="#">
						<h4>Maria Williams</h4>
						<p>Designer</p>
						<div class="tm-social social">
							<a href="#"><i class="fa fa-pinterest"></i></a>
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="team-member">
						<img src="{% static 'img/team/4.jpg' %}" alt="#">
						<h4>Jane Doe</h4>
						<p>Maketing</p>
						<div class="tm-social social">
							<a href="#"><i class="fa fa-pinterest"></i></a>
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}